# buffer size (in total) in KiB
buffer_size = 5120
shared_memory=false
buffer_management_policy = "Equal Division"
dt_shift_alpha = 0
log_queue_length = false
log_queue_length_port = 0
queue_length_file = "/dev/shm/dpdk-qlen.log"
ecn_enable = false
# ecn threshold in KB
ecn_threshold = 32
# rate limit
tx_rate_mbps = 99999
tx_rate_mbps_0 = 99999
tx_rate_mbps_1 = 99999
tx_rate_mbps_2 = 9999
tx_rate_mbps_3 = 9999
tx_rate_mbps_4 = 9999
# bucket size in bytes
bucket_size = 5000
# host port
port = 0
# flowlet forwarding policy: 0=Letflow 1=CONGA 2=DRILL 3=Halflife 4=per-flow ECMP 5=per-packet random
forwarding_policy = 0
# default forwarding port
default_port=1
#flowlet num to reach min ft(Halflife)
k=1000
# RTT in us
rtt=30
